<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>244444652857-hir3kng6j5r7catl08m2nv813qi85f33.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.244444652857-hir3kng6j5r7catl08m2nv813qi85f33</string>
	<key>API_KEY</key>
	<string>AIzaSyDElQ8p7JXGbZDjBx1xTNEhNn2SFkd8-5Y</string>
	<key>GCM_SENDER_ID</key>
	<string>244444652857</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.workanywhere.workanywhereapp</string>
	<key>PROJECT_ID</key>
	<string>workanywhereapp</string>
	<key>STORAGE_BUCKET</key>
	<string>workanywhereapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:244444652857:ios:7ba00151014f449c2534e8</string>
	<key>DATABASE_URL</key>
	<string>https://workanywhereapp.firebaseio.com</string>
</dict>
</plist>